@font-face {
  font-family: 'montserratBlack';
  src: url('/public/assets/font/Montserrat-Black.ttf');
}
@font-face {
  font-family: 'montserratBold';
  src: url('/public/assets/font/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'MontserratExtraBold';
  src: url('/public/assets/font/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'MontserratExtraLight';
  src: url('/public/assets/font/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: 'MontserratLight';
  src: url('/public/assets/font/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'MontserratMedium';
  src: url('/public/assets/font/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'MontserratRegular';
  src: url('/public/assets/font/Montserrat-Regular.ttf');
}
a{
  text-decoration: none;
}
/*Login*/
.back-icon{
  font-size: 20px;
}
.header_heading{
  display: flex;
}
.header_heading a {
    line-height: 0px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 0 3px;
}
.header_heading h1{
  margin: 0;
  font-family: montserratBold;
  font-size: 24px;
}
.image_width{
  width: 50px;
}
.container-padding{
  padding: 80px 40px 80px 40px;
  display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.ion-align-center{
  width: 100%;
}
.heading_login{
  font-family: montserratBold;
  font-size: 32px;
}
.heading_login p{
  color: #7a7a7a;
  font-size: 16px;
  font-family: MontserratExtraLight;
}
.heading_login a{
  color: #000;
  font-family: MontserratMedium;
  text-decoration: none;
}
.form_container{
  margin-top: 40px;
}
.form_input{
    border-radius: 10px;
    font-family: MontserratMedium;
    height: 45px;
    border: 2px solid #e3e3e3;
}
::placeholder{
  color: #f1f3f4;
  font-size: 12px;
  font-family: MontserratExtraLight;
}
.register_container{
  margin-top: 35px;
}
.register_button{
  height: 40px;
  margin: 0;
  --background: #0869AE;
}
/*Sign*/
ion-icon {
  font-size: 30px;
  color: #000;
}
.flex-container{
  display: flex;
  justify-content: space-between;
}
.margin-bottom{
  margin-bottom: 20px;
}
.bg-color{
  height: 100%;
}
.padding-all {
    padding: 40px 20px;
    height: 100%;
}
.label_name{
  font-size: 12px;
  color: #000;
  margin-bottom:5px;
  display: block;
  font-family: MontserratLight;
}